
@{
    ViewBag.Title = "SubtractNos";
}

<h2>SubtractNos</h2>

<form method="post">
    <lable>Enter first no</lable>
    <input type="number" name="no1" value="" />
    <br />

    <lable>Enter second no</lable>
    <input type="number" name="no2" value="" />
    <br />

    <input type="submit" name="SubtractNos" value="Minus" />
</form>